/* CSS declarations go here */
li {
  list-style: none;
}

[name=todoItem] {
  border: none;
  font-family: sans-serif;
  font-size: 100%;
  padding: 0.15em;
}

[name=todoItem]:hover {
  background-color: #f9f9f9;
  cursor:pointer;
}

[name=todoItem]:focus {
  background-color: #f9f9f9;
  cursor: default;
  outline: none;
}

.checked {
  background-color: #f0f0f0;
  color: #666;
}

.checked [name=todoItem] {
  text-decoration: line-through;
}

.checked [name=todoItem],
.checked [name=todoItem]:hover,
.checked [name=todoItem]:focus {
  background-color: #f0f0f0;
}

.container {
  margin-left: 30px;
}

input.error {
  background-color: rgb(255, 231, 231);
}

#email-error {
  color: red;
}
